body {
  background-image: url(./image/kan.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Gugi", cursive;
  font-weight: bolder;
  color: red;
  font-size: 45px;
  text-shadow: 2px 2px 5px black;
}

.page-footer {
  background-color: rgb(0, 0, 0, 0.8);
  width: 100%;
}

.card-footer {
  color: rgb(219, 20, 20);
  font-size: 48px;
  text-align: center;
  text-shadow: 2px 2px 5px black;
}

#display {
  padding-top: 2rem;
  text-align: center;
}
h2{
  font-family: "Gugi", cursive;
  font-weight: bolder;
  color: red;
  font-size: 45px;
  text-shadow: 2px 2px 5px black;
  text-align: center;
}

#display span {
  color: red;
  font-weight: bolder;
}